{% extends "layout.html" %}
{% block content %}

<!-- SECTION 1: Main header -->
<section class="section_header_carbon_app">
    <div class="container">
        <div class="header_carbon_app">
            
            <div class="box"> 
                <h1 style="font-size:55px;">
                    <span class="text-logo">Carbon App Calculator</span>
                </h1>
                <p style="text-align:left;">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum...
                </p>

                <!-- Buttons -->
                <div class="container_buttons_links_header_carbon_app">  
                    <div class="btn">
                        <a href="{{url_for('methodology.methodology_home')}}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Methodology</a>
                    </div>
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;" data-toggle="modal" data-target="#carbon_app_instructions">Instructions</a>
                    </div>
                    <div class="btn">
                        <a href="{{url_for('carbon_app.new_entry')}}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">New entry</a>
                    </div>
                    <div class="btn">
                        <a href="{{url_for('carbon_app.your_data')}}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Your data</a>
                    </div>
                </div>
            </div>

            <div class="box">
                <img 
                    src="{{url_for('static', filename='icons/calculator.svg')}}"
                    width="325" 
                    height="325"
                    alt=""/>
            </div>
        </div>
    </div>
</section> 


<!-- SECTION 2: Transportation selection -->
<section class="section_transportation">
    <div class="container">
        <div class="header_carbon_app">
            <div class="box">
                <h1 style="font-size:45px;">
                    <span class="text-logo">Please select a mode of transportation</span>
                </h1>
            </div>
        </div>

        <!-- ICONS -->
        <div class="transport-icons">   
            <div class="icon">
                <a href="{{url_for('carbon_app.new_entry')}}"><i class="fa-solid fa-car fa-2x"></i></a>
                <span class="text-logo">Car</span>
            </div>
            <div class="icon">
                <a href="{{url_for('carbon_app.new_entry')}}"><i class="fa-solid fa-plane fa-2x"></i></a>
                <span class="text-logo">Plane</span>
            </div>
            <div class="icon">
                <a href="{{url_for('carbon_app.new_entry')}}"><i class="fa-solid fa-bus fa-2x"></i></a>
                <span class="text-logo">Bus</span>
            </div>
            <div class="icon">
                <a href="{{url_for('carbon_app.new_entry')}}"><i class="fa-solid fa-train fa-2x"></i></a>
                <span class="text-logo">Train</span>
            </div>
            <div class="icon">
                <a href="{{url_for('carbon_app.new_entry')}}"><i class="fa-solid fa-ferry fa-2x"></i></a>
                <span class="text-logo">Ferry</span>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
